.json-viewer {
  color: rgb(192, 33, 33);
  padding-left: 20px;
  font-size: 14px;
}

.json-viewer ul {
  list-style-type: none;
  margin: 0;
  margin: 0 0 0 1px;
  border-left: 1px dotted #ccc;
  padding-left: 2em;
}

#parameters_user_value {
  width: 200px;
}

.json-viewer .hide {
  display: none;
}

.json-viewer .type-string {
  color: rgb(39, 58, 139);
}

.json-viewer .type-date {
  color: darkorange;
}

.json-viewer .type-boolean {
  color: rgb(24, 133, 39);
  font-weight: bold;
}

.json-viewer .type-number {
  color: darkorange;
}

.json-viewer .type-null,
.json-viewer .type-undefined {
  color: magenta;
}

.json-viewer a.list-link {
  color: rgb(82, 22, 22);
  text-decoration: none;
  position: relative;
}

.json-viewer a.list-link:before {
  color: #aaa;
  content: "\25BC";
  position: absolute;
  display: inline-block;
  width: 1em;
  left: -1em;
}

.json-viewer a.list-link.collapsed:before {
  content: "\25B6";
}

.json-viewer a.list-link.empty:before {
  content: "";
}

.json-viewer .items-ph {
  color: #aaa;
  padding: 0 1em;
}

.json-viewer .items-ph:hover {
  text-decoration: underline;
}
