body {
  font-family: Lato;
}

b {
  font-family: Lato;
}
.navbar-text {
  color: blue;
  font-size: large;
  padding-right: 15px;
}
.shadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.container-fluid {
  margin: 10px;
}

.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 20%;
}

.col-lg-9 {
  max-width: 80%;
}

#container-full {
  margin-top: 2vh;
  padding-left: 30px;
  max-width: 98%;
}

.resources-column {
  border: 1px;
  border-style: solid;
  border-color: #fff8f1;
  border-radius: 7px;
  background-color: #fff8f1;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: 3px;
}

#resource-button {
  overflow-y: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.resource-a-tag {
  cursor: pointer;
  font-family: Lato;
}

.inapi-sandbox-heading {
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
  color: #f07d00;
  letter-spacing: -0.5px;
  font-family: Lato;
}

#resources-button {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.list-group-item {
  border: none;
}
.list-group-item.active {
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  color: rgb(223, 92, 17) !important;
}

.overview-heading {
  font-family: Lato;
  font-weight: 900;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #000000;
  margin-top: 0.5rem;
}
.summary-text {
  font-family: Lato;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.fhir-heading {
  font-family: Lato;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f07d00;
  margin-bottom: 8px;
  padding-top: 10px;
}

.resource-name-heading {
  font-weight: 900;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: -1px;
  color: #000000;
  font-family: Lato;
  margin-bottom: 0px;
}

.description-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
}

.result-table {
  cursor: pointer;
}

.result-shadow {
  -webkit-box-shadow: 0 4px 3px -3px #999;
  -moz-box-shadow: 0 4px 3px -3px #999;
  box-shadow: 0 4px 3px -3px #999;
}

#resource-result {
  font-family: Lato;
  max-height: 75vh;
  overflow-y: auto;
  font-size: 16px;
  line-height: 30px;
}

.result-list-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.result-list-item:nth-child(odd) {
  background: #f7f4f0;
}

.json_collapse {
  line-height: 24px;
}

#parameter-text {
  margin-bottom: 0px;
}

#custom-query {
  float: right;
}

select {
  width: 100% !important;
  font-size: small !important;
  height: 2.25rem !important;
}

#td-contains {
  font-size: small;
  width: 40%;
}

input {
  width: 100% !important;
  font-size: small !important;
  height: 2.25rem !important;
  padding-left: 15px !important;
}
.btn {
  font-size: small;
}

.query-delete {
  margin: 5px;
  color: black;
  width: 100%;
}

#selection_box {
  display: none;
}

#selected-query {
  height: 50px;
}

.button-query {
  margin-top: 4px;
  width: 4.75rem;
}

#pagination_stats {
  float: left;
  padding-top: 7px;
}

.pagination-btn {
  border: none;
  background-color: inherit;
}
#pagination_button {
  float: right;
  padding-top: 5px;
}
