body {
  font-family: Merriweather;
}

b {
  font-family: Lato;
}
.navbar-text {
  color: blue;
  font-size: large;
  padding-right: 15px;
}

.container-fluid {
  margin: 10px;
}

#resource-button {
  overflow-y: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.resource-a-tag {
  cursor: pointer;
  font-family: Lato;
}

.shadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

#container-full {
  margin-top: 5%;
  margin-left: 7%;
  max-width: 90%;
}
.inapi-sandbox-heading {
  font-weight: 500;
  font-size: 23px;
  line-height: 32px;
  color: #f07d00;
  letter-spacing: -0.5px;
  font-family: Lato;
}

.resources-column {
  border: 1px;
  border-style: solid;
  border-color: #fff8f1;
  border-radius: 7px;
  padding: 10px;
  background-color: #fff8f1;

  /* max-height: 500px;  set this afterwards */
}

.list-group-item {
  border: none;
}
.list-group-item.active {
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  color: rgb(223, 92, 17) !important;
}

.overview-heading {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #000000;
  margin-top: 30px;
}
.summary-text {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.fhir-heading {
  font-family: Lato;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f07d00;
  margin-bottom: 8px;
  padding-top: 10px;
}

.resource-name-heading {
  font-weight: 900;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: -1px;
  color: #000000;
  margin-bottom: 14px;
  font-family: Lato;
}

.description-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
}

.result-table {
  cursor: pointer;
}

.result-shadow {
  -webkit-box-shadow: 0 4px 3px -3px #999;
  -moz-box-shadow: 0 4px 3px -3px #999;
  box-shadow: 0 4px 3px -3px #999;
}

#resource-result {
  font-family: Lato;
  max-height: 450px;
  overflow-y: auto;
  font-size: 16px;
}

#query-select {
  float: right;
}

#parameter-text {
  margin-bottom: 0px;
}

.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 20%;
}
.col-lg-9 {
  max-width: 80%;
}

#custom-query {
  float: right;
}

.form-control {
  width: 170px !important;
  font-size: small;
}
input {
  height: 2.25rem;
}
.btn {
  font-size: small;
}

.query_delete {
  margin: 5px;
  color: black;
}
.query_delete_close:hover {
  color: white;
}

.query_delete_close {
  border: none;
  color: black;
  background-color: inherit;
}

#selection_box {
  display: none;
}

#selected-query {
  height: 50px;
}

.button-query {
  margin-top: 4px;
}

#pagination_stats {
  float: left;
  padding-top: 25px;
}

.pagination-btn {
  border: none;
  background-color: inherit;
}
#pagination_button {
  float: right;
  padding-top: 10px;
}

#pagination-box {
  padding-top: 10px;
}

.i-icon {
  background: url("../images/info-circle-solid.svg");
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}
